<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - QR_Menu</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/QR_Menu.styles.css" asp-append-version="true" />

    <style>
        .primary-link{
            text-decoration: dashed;
            color: white;
            padding: 1rem;

        }
        .primary-link:hover{
            color: white;
            background-color: rgb(47, 47, 112);
            
        }
    </style>

</head>
<body>
    
    <header class="bg-primary" style="display: flex;justify-content: space-between;align-items: center;">
        <a asp-controller="Home" asp-action="Index" class="primary-link"><div class="p-2">Anasayfa</div></a>
        @if(User.Identity.Name==null){
            <div style="display: flex;justify-content: center;align-items: center;"><a class="primary-link" asp-controller="Home" asp-action="Login" >Giriş Yap</a><a class="primary-link" asp-controller="Home" asp-action="Signup">Kayıt Ol</a></div>
        }else{
            <div style="display: flex;justify-content: center;align-items: center;"><a class="primary-link" asp-controller="Home" asp-action="Signout">Çıkış Yap</a></div>
        }
    </header>


    <div class="container">
        <main role="main" class="pb-3 pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
