@{
    ViewData["Title"] = "Giriş Sayfası";
}
@model User

<form asp-controller="Home" asp-action="Login" method="post" class="flex " style="display: flex; flex-direction: column; ">
        <div class="m-4">
            <label asp-for="@Model.UserEmail">Email : </label>
            <input type="email" asp-for="@Model.UserEmail" class="form-control">
        </div>
        
        <div class="m-4">
            <label asp-for=@Model.Password>Parola : </label>
            <input type="password" asp-for="@Model.Password" class="form-control">
        </div>

    <button type="submit" class="btn btn-primary" style="margin: 0 auto;padding: 1rem;">Giriş Yap</button>
</form>






